<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_home.css' %}">
    <title>admin page</title>
</head>
<body>
    <!-- Your content goes here -->
     <h1> Welcome ADMIN</h2>
        <a href="add_restaurant_page">add new restaurant</a>
        <br>
        <br>
        <a href="open_show_restaurants">show restaurant</a>
</body>
</html>